<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Proyectos.css">
    <title>Listado de Proyectos</title>
</head>

<body>

    <header>
        <button type="button">Listar Proyectos</button>
        <button type="button">Filtrar Por Empresas</button>
        <button type="button">Filtrar Por Proyectos</button>
        <button type="button">Filtrar Por Tipo</button>
    </header>

    <main>

    </main>

    <script type="module" src="../../js/validator.js"></script>

</body>
</html>
